[Unit]
Description=Maddy Mail server

[Service]
Type=simple
User=ubuntu
ExecStart=sudo /usr/local/bin/maddy --config /opt/maddy/maddy-0.4.4+dcdf4a7-x86_64-linux-musl/maddy.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target