[Unit]
Description=code-server
After=nginx.service

[Service]
Type=simple
Environment=PASSWORD=password
ExecStart=/usr/bin/code-server --bind-addr 0.0.0.0:8080 --user-data-dir /var/lib/code-server --auth password
Restart=always

[Install]
WantedBy=multi-user.target