[Unit]
Description=Wiki.js
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node server
Restart=always
Environment=NODE_ENV=production
WorkingDirectory=/opt/wiki-js/

[Install]
WantedBy=multi-user.target